@import "tailwindcss";
@layer utilities{
  .container {
    @apply max-w-350 mx-auto
  }
}
@theme {
   --color-green: #20c997; 
   --color-gray: #f3f4f6; 
}

body {
  font-family: "Poppins", sans-serif; 
} 